<section class="featured-product" id="featured-product">
  {{'Hello Wordl'}}
</section>   

<style>
</style>


{% schema %}
  {  "name": "New Featured Product",
     "settings":[],
     "presets":[
        {
            "name": "New Featured Product"
        }
      ]
 }
{%endschema%}